@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('TetonWinter.jpg');
        background-size: cover; /* Adjust as needed */
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .text-center {
        /* Add your existing styles for the text-center class here */
        color: #ffffff; /* Example text color for better visibility on the background */
        padding: 50px; /* Adjust as needed */
    }
</style>
<div class="text-center">
    <h1 class="display-4">The Art Of Skiing</h1>
    <p>
        Skiing is a breathtaking symphony of exhilaration and nature's grandeur. As enthusiasts carve their way down snow-covered slopes, they become part of an experience that transcends the ordinary. The sport offers a unique blend of adrenaline and serenity, challenging individuals both physically and mentally.
    </p>
    <br />
    <p>
         Gliding effortlessly over pristine snow, surrounded by majestic mountain landscapes, skiers find a profound connection with the environment. Beyond the thrill of speed, skiing fosters a sense of accomplishment and resilience as one conquers varying terrains. It's a social activity that brings people together on the slopes, creating lasting memories and a shared love for winter adventure. 
    </p> 
    <img src="~/familyskiing.jpeg" height="450px" />
</div>
